__pycache__
.ipynb_checkpoints
drafts
logs
**.mp4
**.engine
videos_out
test_videos
test.ipynb
myenv
web.py
**env**
test.ipynb
.env
secrets.txt
services/pg_data_wh
services/grafana/alerting/1
services/grafana/plugins