__pycache__
.ipynb_checkpoints
drafts
logs
test_videos/videos_extra
**.engine
videos_out
test.ipynb
myenv
web.py
**env**
test.ipynb
.env
secrets.txt
services/pg_data_wh
services/grafana/alerting/1
services/grafana/plugins
services/triton/yolov8m.pt