__pycache__
.ipynb_checkpoints
drafts
logs
test_videos/videos_extra
**.engine
**.profile
**.pt
videos_out
test.ipynb
myenv
web.py
test.ipynb
.env
secrets.txt
services/pg_data_wh
services/grafana/alerting/1
services/grafana/plugins